div.customers__footer-pagination
    button.customers__pagination-prev <
    ul.customers__footer-pagination-list
      - const mockArray = Array.from({length: 40} , (_, i) => i + 1)
      each num in mockArray
        if num === mockArray[0]
          li
            button.customers__pagination-btn.customers__pagination-btn--selected= num
        else if num < 5 || num === mockArray.length
          li
            button.customers__pagination-btn= num
        else if num === 5
          li 
            span.customers__pagination-dots ...
    button.customers__pagination-next >