doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
  body
    .dashboard-container
      include ./components/Sidebar/index.pug
      include ./components/Content/index.pug
      include ./components/EmptyContent/index.pug